<h1>Weebay: It's The Little Things</h1>

<% if !@popular.empty? %>
  <h2>People Love These!!!</h2>
  <% @popular.each do |item| %>
    <p><%= Product.find(item.product_id).name %></p>
    <p><%= Product.find(item.product_id).description %></p>
    <p><img src="<%= Product.find(item.product_id).photo_url %>"></p>
    <p>Stock: <%= Product.find(item.product_id).stock %></p>
    <hr>
  <% end %>
<% end %>
