/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

header li {
  display: inline;
  list-style: none;
}

#menu, #menu ul
{
    list-style: none;
    padding: 0 0 26px 0;
    margin: 0;
    width: 5.5%;
}

#menu li
{
    float: left;
    margin-right: 3px;
    position: relative;
}

#menu ul
{
    position: absolute;
    top: 25px;
    left: -1px;
    width: 200px;
    padding: 0;
    display: none;
}
#menu ul li
{
    float: none;
    margin: 0;
    padding: 0;
    line-height: 15px;

}
#menu a:link, #menu a:visited
{
    display: block;
    font-family: Tahoma;
    font-size: 0.75em;
    font-weight: bold;
    text-align: left;
    text-decoration: none;
    color: #000;
    padding: 5px;
}

#menu li:hover ul
{
    display: block;
    background-color: lightgray;
    border-radius: 5%;
}


img {
  height: 200px;
}
