<h1>Editing Category</h1>

<%= render "form", path_name: category_path, http_method: :patch %>

<%= link_to "Show", category_path(@category) %> |
<%= link_to "Back to all categories", categories_path %>
