<p id="notice"><%= notice %></p>

<h1>PRODUCTS</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |p| %>
      <tr>
        <td><%= link_to"#{p.name}", product_path(p.id) %></td>
        <td>Price: $<%= "#{add_decimal(p.price)}" %></td>
        <td><%= image_tag("#{p.photo_url}") %> </td>
      </tr>
    <% end %>
  </tbody>
</table>
