<p id="notice"><%= notice %></p>

<h1>Listing Reviews</h1>

<table>
  <thead>
    <tr>
      <th>Star Rating</th>
      <th>Detailed Review</th>
    </tr>
  </thead>

  <tbody>
    <% @reviews.each do |review| %>
      <tr>
        <td><%= review.rating %> </td>
        <td><%= review.rating_description %>   </td>
      </tr>
    <% end %>
  </tbody>
</table>
